@model IEnumerable<AlmostAdmin.Models.User>

<div>
    <ul class="list-group">
        @foreach (var user in Model)
        {
           <li class="list-group-item">
                    @user.Email
                    @if (user.Email == User.Identity.Name)
                    {
                        @:(<span style="color:forestgreen">Вы</span>)
                    }
           </li>
        }
        </ul>
</div>
