@model AlmostAdmin.ViewModels.SimilarQuestionsViewModel

<div>
    @if (!Model.SimilarQuestions.Any())
    {
        <div>
            <b>Похожих вопросов не найдено!</b>
        </div>
    }
    @foreach (var question in Model.SimilarQuestions)
    {
        <div class="row">
            <div class="col-6">
                <i>@question.Text</i>
            </div>
            <div class="col-6">
                @if (question.Answer != null)
                {
                    @question.Answer.Text
                    <br />
                    <button class="btn btn-default" onclick="approveSystemAnswer(@Model.QuestionId, @question.AnswerId, true)">Выбрать этот ответ</button>
                }
                else
                {
                    @: Без ответа.
                }
            </div>
        </div>
        <hr />
    }
</div>