
@{
    ViewData["Title"] = "Index";
}

<ol>
    <li><a asp-action="Questions">Список вопросов за всё время</a></li>
    <li><a asp-action="Answers">Список ответов за всё время</a></li>
</ol>

<h2>Index</h2>

