
@{
    ViewData["Title"] = "View";
}

<h2>Документация по использованию нашего Web API</h2>

<br/>Перед началом использования Web Api, Вы должны аутентифицироваться

<h3>Auth Controller</h3>
<ol>
    <li>
        <h3>api/answer/</h3>
    </li>
</ol>

