@model AlmostAdmin.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<h2>Вход в приложение</h2>

@if (User.Identity.IsAuthenticated)
{
    <div>
        Вы уже залогинены! Что бы сменить аккаунт, <a class="btn-lg" asp-controller="Account" asp-action="LogOff">выйдите с текущего</a>
    </div>
}
else
{
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">

        <div>Еще не регистрировались? <a asp-action="Register">Пройти быструю регистрацию</a></div>

        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}