@{
    ViewData["Title"] = "About";
}
<h2>Документация</h2>
<hr />
<style>
    .block-with-code {
        font-family: Consolas;
        background-color: white;
    }

    .block-with-text {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .code_doc {
        font-size: 20px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #e0e6ed;
        padding: 0px 3px;
        color: #eb3d38;
    }
</style>

<div class="block-with-text">
    Для вызова API AlmostAdmin необходимо передать параметры <span class="code_doc">data</span> и <span class="code_doc">signature</span> (Server - Server) <strong>POST</strong> методом, где:
</div>

<div class="block-with-code border p-1 m-1">
    data - json строка с параметрами APIs закодированная функцией base64. Пример: base64_encode( json_string )<br />
    signature - уникальная подпись каждого запроса base64_encode( sha1( private_key + data + private_key) ),<br />
    base64_encode - возвращает строку, закодированную методом base64,<br />
    sha1 - возвращается хэш в виде бинарной строки из 20 символов.<br />
</div>

<div class="block-with-text">
    Приватный ключ <span class="code_doc">private_key </span> Вы можете найти в вкладке <i>Настройки</i> в панели управления проектом.<br />

    Полученные <span class="code_doc">data</span> и <span class="code_doc">signature</span> необходимо отправить на url <strong>http://localhost:65556/api/question</strong> <br />
    Статус операции будет отправлен на <span class="code_doc">server_url</span>.<br />

    Формирование <span class="code_doc">data</span> и <span class="code_doc">signature</span>, пример:<br />
</div>

<div style="font-size: 20px;">Пример создания <span class="code_doc">json_string</span>:</div>
<div class="block-with-code border p-1 m-1">
    json_string = {"ProjectId":1,"Login":"projectOwner@@gmail.com","Text":"И всё так просто?","AnswerToEmail":false,"StatusUrl":"http://localhost:65556/api/statusReceiver"}
</div>
<br />

Модель для <span class="code_doc">json_string</span>
<div class="block-with-code border p-1 m-1">
        int ProjectId - Идентификатор проекта (Находится во вкладке Настройки в панели управления проектом)<br />
        string Login  - Имейл создателя проекта<br />
        string Text   - Текст вопроса<br />
        bool AnswerToEmail - Флаг указывающий присылать ответ на Имейл (если true) или на Url (если false)<br />
        string StatusUrl - Url куда будет возвращен ответ на вопрос когда он будет обработан модератором либо системой. Может содержать Email адрес.<br />
</div>

Пример кодирования <span class="code_doc">json_string</span> функцией base64_encode, компания получает data:
data = eyJwdWJsaWNfa2V5IjoiaTAwMDAwMDAwIiwidmVyc2lvbiI6IjMiLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiIzIiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6InRlc3QiLCJvcmRlcl9pZCI6IjAwMDAwMSJ9
<br />
Пример формирования <span class="code_doc">signature</span>, компания формирует строку sign_string путем конкатенации private_key + data + private_key:<br />
<br />
sign_string = a4825234f4bae72a0be04eafe9e8e2bada209255eyJwdWJsaWNfa2V5IjoiaTAwMDAwMDAwIiwidmVyc2lvbiI6IjMiLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiIzIiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6InRlc3QiLCJvcmRlcl9pZCI6IjAwMDAwMSJ9a4825234f4bae72a0be04eafe9e8e2bada209255

После применения функций base64_encode( sha1( sign_string) ) получаем строку:<br />
signature = wR+UZDC4jjeL/qUOvIsofIWpZh8=
<br />
