@{
    ViewData["Title"] = "Главная страница";
}

<div class="col-md-12 text-center pb-5">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Для чего нужен AlmostAdmin?</h1>
        <p class="lead">
            Наш сервис позволяет управлять взаимодействием Вашего веб-ресурса с конечным пользователем удалённо.
            Необязательно нанимать целый штат администрации для однотипных ответов на однотипные пользовательские вопросы!
            Один развёрнутый ответ, и все пользователи довольны.
        </p>
        <p class="lead">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-lg btn-warning" asp-controller="Account" asp-action="Login">Начать работу</a>
            }
            else
            {
                <a class="btn btn-lg btn-warning" asp-controller="Cabinet" asp-action="Index">Перейти в личный кабинет</a>
            }
        </p>
    </main>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}