
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.page-main-text {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    position: relative;
}

td {
    padding-bottom: 35px!important;
}



/* Modal window CUSTOM from GOOGLE*/
html, body {
    width: 100%;
    height: 100%;
    background-color: #f5f7fa;
}

.project-cards {
    box-shadow: 0 0 8px 3px #00000012;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 70px;
    width: 200px;
    border: 1px solid black;
    background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

    #prompt-form-container:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

.project-users {
    position: absolute;
    right: 22px;
    top: 159px;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0px #00000033;
    box-sizing: border-box;
    width: 350px;
}

.table-answer__pill {
    position: absolute;
    right: -15px;
    top: 40px;
    padding: 10px;
}

table td:hover .badge-dark {
    display: block;
}

a.badge.badge-dark {
    position: absolute;
    bottom: 15px;
    display: none;
}

.project-card-actions {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.project-users-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-tags {
    position: absolute;
    bottom: 15px;
}

/*::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}*/

/*.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

    .tag a:hover {
        opacity: 1.0
    }

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.tag a {
    margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}*/